body {
    background: #f4faff;
    font-family: "Averia Libre", sans-serif;
    display: grid;
    height: 100vh;
    place-items: center;
    overflow-y: hidden;
    min-width: 600px;
    padding-left: 300px;
}